.network {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 0.25em;
  font-family: inherit;
}

.img {
  width: 50px;
  border-radius: 50%;
}

.connected {
  background-color: rgba(100, 204, 103, 0.3);
}

.disconnected {
  background-color: rgba(255, 0, 0, 0.2);
}

.hide {
  display: none;
}

.info{
  text-align: center;
}

.statusSquare {
  margin-left: 5px;
  width: 10px;
  height: 8px;
}

.squareConnected {
  background-color: green
}
.squareDisconnected {
  background-color: red
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}