.network {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
  height: 140px;
  border-radius: .25em;
  margin: 10px;
}

.img {
  width: 75px;
  border-radius: 50%;
}

.connected {
  background-color: rgba(147, 250, 165, 0.5);
}

.disconnected {
  background-color: rgba(255,0,0,0.5);
}

.hide {
  display: none;
}